In [1]:
import numpy as np
import pandas as pd

In [36]:
ipl18 = pd.DataFrame({'Team': ['SRH', 'CSK', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [9, 9, 8, 7, 6, 6, 6, 5],
                         'Lost': [5, 5, 6, 7, 8, 8, 8, 9],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 0, 0, 0, 0, 0, 0],
                         'Points': [18, 18, 16, 14, 12, 12, 12, 10],
                         'NRR': [0.284, 0.253, -0.070, -0.250, 0.317, 0.129, -0.502, -0.222],
                         'For': [2230, 2488, 2363, 2130, 2380, 2322, 2210, 2297],
                         'Against': [2193, 2433, 2425, 2141, 2282, 2383, 2259, 2304]},
                         index = range(1,9)
                    )

ipl18

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1   SRH       14    9     5     0    0      18  0.284  2230     2193
2   CSK       14    9     5     0    0      18  0.253  2488     2433
3   KKR       14    8     6     0    0      16 -0.070  2363     2425
4    RR       14    7     7     0    0      14 -0.250  2130     2141
5    MI       14    6     8     0    0      12  0.317  2380     2282
6   RCB       14    6     8     0    0      12  0.129  2322     2383
7  KXIP       14    6     8     0    0      12 -0.502  2210     2259
8    DD       14    5     9     0    0      10 -0.222  2297     2304

In [38]:
ipl17 = pd.DataFrame({'Team': ['MI', 'RPS', 'SRH', 'KKR', 'KXIP', 'DD', 'GL', 'RCB'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [10, 9, 8, 8, 7, 6, 4, 3],
                         'Lost': [4, 5, 5, 6, 7, 8, 10, 10],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 1, 0, 0, 0, 0, 1],
                         'Points': [20, 18, 17, 16, 14, 12, 8, 7],
                         'NRR': [0.784, 0.176, 0.469, 0.641, 0.123, -0.512, -0.412, -1.299],
                         'For': [2407, 2180, 2221, 2329, 2207, 2219, 2406, 1845],
                         'Against': [2242, 2165, 2118, 2300, 2229, 2255, 2472, 2033]},
                         index = range(1,9)
                    )

ipl17

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1    MI       14   10     4     0    0      20  0.784  2407     2242
2   RPS       14    9     5     0    0      18  0.176  2180     2165
3   SRH       14    8     5     0    1      17  0.469  2221     2118
4   KKR       14    8     6     0    0      16  0.641  2329     2300
5  KXIP       14    7     7     0    0      14  0.123  2207     2229
6    DD       14    6     8     0    0      12 -0.512  2219     2255
7    GL       14    4    10     0    0       8 -0.412  2406     2472
8   RCB       14    3    10     0    1       7 -1.299  1845     2033

In [13]:
ipl18.loc[:,['Team','Points']].head(4)

  Team  Points
1  SRH      18
2  CSK      18
3  KKR      16
4   RR      14

##### Suppose in ‘ipl18’, you want to filter out the teams that have an NRR greater than zero, and for which the ‘For’ score exceeds the ‘Against’ score, i.e. both the conditions should be satisfied. Which teams will be left after you perform the above filtration? (Run the commands on the Python Notebook provided, rather than performing a manual calculation)

In [14]:
ipl18[(ipl18['NRR']>0) & (ipl18['For']>ipl18['Against'])]

  Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1  SRH       14    9     5     0    0      18  0.284  2230     2193
2  CSK       14    9     5     0    0      18  0.253  2488     2433
5   MI       14    6     8     0    0      12  0.317  2380     2282

#### If all the stats are taken for both ‘ipl17’ and ‘ipl18’, which team with its total points greater than 25 will have the highest win percentage?

In [42]:
df = pd.merge(ipl18,ipl17,on='Team',suffixes=('_18','_17'))
df['Total Points'] = df['Points_17'] + df['Points_18']
df['Total Matches Won'] = df['Won_17'] + df['Won_18']
df['Total Matches Played'] = df['Matches_17'] + df['Matches_18']
df

,Team,Matches_18,Won_18,Lost_18,Tied_18,N/R_18,Points_18,NRR_18,For_18,Against_18,...,Lost_17,Tied_17,N/R_17,Points_17,NRR_17,For_17,Against_17,Total Points,Total Matches Won,Total Matches Played
0,SRH,14,9,5,0,0,18,0.284,2230,2193,...,5,0,1,17,0.469,2221,2118,35,17,28
1,KKR,14,8,6,0,0,16,-0.070,2363,2425,...,6,0,0,16,0.641,2329,2300,32,16,28
2,MI,14,6,8,0,0,12,0.317,2380,2282,...,4,0,0,20,0.784,2407,2242,32,16,28
3,RCB,14,6,8,0,0,12,0.129,2322,2383,...,10,0,1,7,-1.299,1845,2033,19,9,28
4,KXIP,14,6,8,0,0,12,-0.502,2210,2259,...,7,0,0,14,0.123,2207,2229,26,13,28
5,DD,14,5,9,0,0,10,-0.222,2297,2304,...,8,0,0,12,-0.512,2219,2255,22,11,28

In [43]:
filterdf = df.sort_values('Total Points',ascending=False)
filterdf

,Team,Matches_18,Won_18,Lost_18,Tied_18,N/R_18,Points_18,NRR_18,For_18,Against_18,...,Lost_17,Tied_17,N/R_17,Points_17,NRR_17,For_17,Against_17,Total Points,Total Matches Won,Total Matches Played
0,SRH,14,9,5,0,0,18,0.284,2230,2193,...,5,0,1,17,0.469,2221,2118,35,17,28
1,KKR,14,8,6,0,0,16,-0.070,2363,2425,...,6,0,0,16,0.641,2329,2300,32,16,28
2,MI,14,6,8,0,0,12,0.317,2380,2282,...,4,0,0,20,0.784,2407,2242,32,16,28
4,KXIP,14,6,8,0,0,12,-0.502,2210,2259,...,7,0,0,14,0.123,2207,2229,26,13,28
5,DD,14,5,9,0,0,10,-0.222,2297,2304,...,8,0,0,12,-0.512,2219,2255,22,11,28
3,RCB,14,6,8,0,0,12,0.129,2322,2383,...,10,0,1,7,-1.299,1845,2033,19,9,28